[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/javc-nest-microservices/client-gateway
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/javc-nest-microservices/products-ms
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/javc-nest-microservices/orders-ms
